image: nixos/nix:latest

stages:
  - build

nixos-unstable:
  stage: build
  script: nix-shell --run ./.gitlab-ci.sh
  variables:
    NIX_PATH: nixpkgs=channel:nixos-unstable
    IMAGE_TAG: latest

nixos-18.09:
  stage: build
  script: nix-shell --run ./.gitlab-ci.sh
  variables:
    NIX_PATH: nixpkgs=channel:nixos-18.09
    IMAGE_TAG: nixos-18.09
